* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Cooper Hewitt;
    font-weight: 300;
}

.minutes-per-call {
    font-weight: 800;
    padding-block: 25px;
    font-size: 15px;
    color: #1c1c1c;
}

body {
    background: #f2f2f2;
}

.container {
    margin: 43px 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.organizador__actions {
    padding: 30px 25px;
    width: 557px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    /* background: #fff; */
}

.organizador__actions-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12%;

    width: 1326px;
    height: 100%;
    padding: 25px 40px;

    background-color: transparent !important;
}

.organizador__actions-sidebar {
    /* max-width: 375px; */
    border-radius: 11px;
    background: #fff;
    width: 450px;
    height: 100%;
    flex-shrink: 0;

    padding: 60px 40px;
}

.organizador__actions-header {
    padding-bottom: 10px;
}

.organizador__actions-header h1 {
    color: #000;
    font-family: Cooper Hewitt;
    font-size: 40px;
    font-weight: 800;
}

.organizador__actions-header p {
    color: #b7b7b7;
    font-family: Cooper Hewitt;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.organizador__actions-bio {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 60px;
}

.organizador__actions-bio p {
    padding-bottom: 30px;
}

.organizador__actions-plataformas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-block: 50px;
}

.organizador__actions-plataformas small {
    color: #b7b7b7;
    font-family: Cooper Hewitt;
    font-size: 14px;
    font-weight: 700;
}

.organizador__actions-plataformas .plataformas {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    padding-top: 15px;
    justify-content: space-between; /* Adicionamos para distribuir igualmente */
}

.organizador__actions-plataformas .plataforma {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 67.55px;
    border-radius: 6px;
    background: #d1d1d1;
    gap: 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 800 !important;
    padding: 5px;
}

.organizador__actions-plataformas .plataforma:nth-child(2n) {
    gap: 0px;
    cursor: pointer;
    padding-left: -20px;
}

.organizador__actions-plataformas .plataforma .img img {
    max-width: 25px;
    max-height: 25px;
}

.organizador__actions-plataformas .plataforma:nth-child(2n) .img img {
    max-width: 70px;
    max-height: 70px;
    margin-left: -60px;
}

.calendar-dashboard td.unavailable {
    background-color: #d1d1d1;
    color: #000000 !important;
    cursor: not-allowed;
}

.actions-dashboard p {
    color: #a0a0a0;
    font-size: 25px;
    font-weight: 400;

    padding-block: 10px;
    width: 309px;
}

.calendario h4 {
    font-weight: 710;
    font-size: 24px;
    padding-block: 20px;
    color: #818181;
}
