* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Cooper Hewitt;
    font-weight: 300;

    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.header_home {
    margin: 20px auto;
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 25px;
}

.header_home-logo {
    color: #000;
    text-align: center;
    font-size: 25px;

    font-weight: 709;
}

.header_home-navbar ul {
    display: flex;
    align-items: center;
    gap: 50px;

    list-style-type: none;
}

.header_home-navbar ul li a {
    color: black;
    text-decoration: none;
}

.container-home {
    margin: 43px 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.hero {
    position: relative;
    width: 700px;

    margin: 120px 0;
}

.hero small {
    color: #1c1c1c;

    font-family: Cooper Hewitt;
    font-weight: 711;
    font-size: 25px;

    position: absolute;
    top: -1em;
    left: -2em;
}

.hero h1 {
    color: #1c1c1c;
    text-align: center;

    font-size: 100px;
    font-weight: 713;
    width: 667px;
}

.hero .markup {
    content: "";
    width: 421.986px;
    height: 65.262px;

    transform: rotate(-4.666deg);
    background: #8383ef;

    position: absolute;
    top: 10.9em;
    right: 10em;
    z-index: -2;
}

.flag {
    position: absolute;
    top: 40em;

    width: 2500px;
    height: 610.099px;
    transform: rotate(-12.419deg);

    background: #dadaff;
    z-index: -2;
}

.nav_link-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 142px;
    height: 53px;

    border-radius: 8px;
    background: #1c1c1c;
}

.nav_link-dashboard a {
    color: white !important;
    font-weight: 700;
}

.slide {
    display: flex;
    align-items: center;
    gap: 50px;

    margin-block: 45px;
}

.slide:last-child {
    margin-top: 120px;
}

.slide .slide_description {
    width: 460px;
}

.slide .slide_description h4 {
    color: #1c1c1c;
    font-size: 30px;
    font-weight: 713;

    padding-bottom: 20px;
}

.slide .slide_description p {
    color: #1c1c1c;

    font-size: 17px;
    font-weight: 600;
    margin-block: 12px;
}

.logout-btn {
    margin-block: 15px;
}

.logout-btn a {
    padding: 8px;
    background-color: #202020;
    color: white;
    margin-bottom: 8px;

    border-radius: 6px;
}

.minutes-per-call {
    font-weight: 800;
    padding-block: 25px;
    font-size: 15px;
    color: #1c1c1c;
}

body {
    background: #f2f2f2;
}

.container {
    margin: 43px 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.organizador__actions {
    padding: 30px 25px;
    width: 557px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    /* background: #fff; */
}

.organizador__actions-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12%;

    width: 1326px;
    height: 100%;
    padding: 25px 40px;

    background-color: transparent !important;
}

.organizador__actions-sidebar {
    /* max-width: 375px; */
    border-radius: 11px;
    background: #fff;
    width: 450px;
    flex-shrink: 0;

    padding: 40px;
}

.organizador__actions-header {
    padding-bottom: 10px;
}

.organizador__actions-header h1 {
    color: #000;
    font-family: Cooper Hewitt;
    font-size: 40px;
    font-weight: 800;
}

.organizador__actions-header p {
    color: #b7b7b7;
    font-family: Cooper Hewitt;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.organizador__actions-bio {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-block: 60px;
}

.organizador__actions-bio p {
    padding-bottom: 30px;
}

.organizador__actions-plataformas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-block: 5px;

    height: 100px;
}

.organizador__actions-plataformas small {
    color: #b7b7b7;
    font-family: Cooper Hewitt;
    font-size: 14px;
    font-weight: 700;
}

.organizador__actions-plataformas .plataformas {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    padding-top: 15px;
    justify-content: space-between; /* Adicionamos para distribuir igualmente */
}

.organizador__actions-plataformas .plataforma {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 67.55px;
    border-radius: 6px;
    background: #d1d1d1;
    gap: 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 800 !important;
    padding: 5px;
}

.organizador__actions-plataformas .plataforma:nth-child(2n) {
    gap: 0px;
    cursor: pointer;
    padding-left: -20px;
}

.organizador__actions-plataformas .plataforma .img img {
    max-width: 25px;
    max-height: 25px;
}

.organizador__actions-plataformas .plataforma:nth-child(2n) .img img {
    max-width: 70px;
    max-height: 70px;
    margin-left: -60px;
}

.calendar-dashboard td.unavailable {
    background-color: #d1d1d1;
    color: #000000 !important;
    cursor: not-allowed;
}

.actions-dashboard p {
    color: #a0a0a0;
    font-size: 25px;
    font-weight: 400;

    padding-block: 10px;
    width: 309px;
}

.calendario h4 {
    font-weight: 710;
    font-size: 24px;
    padding-block: 20px;
    color: #818181;
}

.form {
    width: 569px;
    height: 850px;
    padding: 40px 50px;

    border-radius: 11px;
    background: #fff;
}

.form .link-signup {
    text-align: center;
    margin: 40px auto;
    color: #000;
}

.form .form__legend {
    width: 335px;
    margin-inline: auto;
    text-align: center;

    margin-bottom: 120px;
}

.form .form__legend h3 {
    color: #000;
    font-size: 40px;
    font-weight: 713;
}

.form .form__legend p {
    color: #131313;

    font-size: 16px;
    font-weight: 707;
}

.form .form__input-actions {
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .form__input-actions .form-group {
    width: 100%;
    margin-block: 5px;
}

.form .form__input-actions .form-group label {
    color: #000;

    font-size: 16px;
    font-weight: 650;
}

.form .form__input-actions .form-group input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #aeaeae;
    padding: 20px;

    color: #aaa;
    font-size: 18px;
}

.form .form__input-actions .form__input-submit {
    margin-block: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 68px;

    border: none;
    border-radius: 6px;
    background: #131313;

    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.form .form__legend-register {
    width: 335px;
    margin-inline: auto;
    text-align: center;

    margin-bottom: 45px;
}

.form .form__legend-register h3 {
    color: #000;
    font-size: 40px;
    font-weight: 713;
}

.form .form__legend-register p {
    color: #131313;

    font-size: 16px;
    font-weight: 707;
}

.words span {
    display: block;
    font-weight: 800;
    animation: spin_words 6s infinite;
}

.words {
    overflow: hidden;
    height: 1.2em;
}

@keyframes spin_words {
    10% {
        transform: translateY(-112%);
    }
    25% {
        transform: translateY(-100%);
    }
    35% {
        transform: translateY(-212%);
    }
    50% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-312%);
    }
    75% {
        transform: translateY(-300%);
    }
    85% {
        transform: translateY(-412%);
    }
    100% {
        transform: translateY(-400%);
    }
}

@media (max-width: 1300px) {
    .header_home {
        width: 100%;
    }

    .slide img {
        width: 50%;
    }

    .slide .slide_description p {
        font-size: 14px;
    }

    .slide .slide_description h4 {
        font-size: 28px;

        padding-bottom: 7px;
    }
}

@media (max-width: 900px) {
    .hero h1 {
        font-size: 90px;
    }

    .hero .markup {
        top: 9.1em;
    }

    .hero small {
        left: 1em;
    }

    .slide {
        gap: 35px;
        flex-direction: column;
    }

    .slide img {
        width: 80%;
    }
}
